<form action="/register" method="post">

    <%= errors[0] %>
    <input type="text" name="name">

    <%= errors[1] %>
    <input type="text" name="password">

    <button type="submit">Register</button>
</form>